<div class="container">
    
    <div class="name">
        azhar.subair
    </div>
    <div class="msg">
        <input name="message-content" placeholder="write your message here/" class="message">
        <button class="searchbutton"><mat-icon>send</mat-icon></button>
    </div>
    <div class="about">
        <a  class="about" (click)="openAboutDialogue()"><h2>{{about}}</h2></a>
        
    </div>
    <button class="foryou" (click)="openMyDialogue()">
        <mat-icon > message</mat-icon>
    </button>
</div>