<div class="container">
    <div class="card">
        <div class="dp">
            <img src="../../../assets/dp.webp">
        </div>
        <div class="name">
            Azhar K Subair
        </div>
        <div class="title">
            Web Designer Developer
        </div>
        <div class="content">
            <div class="subtitle">
                Who am i ?
            </div>
              
            <p>
                Developing amazing websites for amazing businesses like yours...
            </p>
            
            <div class="subtitle">
                Education
            </div>
              
            <p>
                Developing amazing websites for amazing businesses like yours...
            </p>
            <div class="subtitle">
                Experience
            </div>
              
            <p>
                Developing amazing websites for amazing businesses like yours...
            </p>
            <div class="subtitle">
                Projects
            </div>
              
            <p>
                Developing amazing websites for amazing businesses like yours...
            </p>
            <div class="contact">
                <a [routerLink]="'/contact'">...contact</a>
            </div>
        </div>
    </div>
</div>